<div [routerLink]="['/post/'+i]" *ngFor="let article of _post.DatoDummy; let i = index" class="row mb-2">
  <div class="container">
    <div class="col-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{article["subtitle"]}}</strong>
          <h4 class="mb-0">{{article["title"]}}</h4>
          <div class="mb-1 text-muted">{{timeConverter(article["date"])}} <a href="#">&nbsp; {{article["autor"]}}</a> </div>

          <p class="card-text mb-auto">{{article["body"].slice(0,200)}}...</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{article['url']}}" class="bd-placeholder-img" width="400" height="450" preserveAspectRatio="xMidYMid slice" alt="imagen">
        </div>
      </div>
    </div>
  </div>
</div>
